<div class="uk-container uk-expand">
    <div class="uk-flex uk-flex-column">
        1번
        <app-billiyard class="uk-flex uk-column"></app-billiyard>
        2번
        <app-billiyard class="uk-flex uk-column"></app-billiyard>
        3번
        <app-billiyard class="uk-flex uk-column"></app-billiyard>
        4번
        <app-billiyard class="uk-flex uk-column"></app-billiyard>
        5번
        <app-billiyard class="uk-flex uk-column"></app-billiyard>


        <app-que-list></app-que-list>
    </div>
</div>
