
  <div class="time-box" [hidden]="hidden" id="1">
    <div class="comment">
      Insert start time.
    </div>
    <div class="time" style="display: flex">
      
      <select class="uk-select" [(ngModel)]="dBind">
        <option value="AM">AM</option>
        <option value="PM">PM</option>
      </select>

      <select class="uk-select" [(ngModel)]="mBind">
        <option *ngFor="let min of mins">
          {{min}}
        </option>
      </select>

      <select class="uk-select" [(ngModel)]="sBind">
        <option *ngFor="let sec of secs">
          {{sec}}
        </option>
      </select>
    </div>

    <button class="uk-button" style="width: 100%" (click)="toggleHidden(hidden)">Submit</button>
  </div>

    <div class="result-box uk-flex uk-flex-column" uk-grid [hidden]=!hidden (click)=toggleHidden(hidden)>
      <div>Starting!</div>
      <div class="time-result">
        <span>{{dBind}}</span><span>{{mBind}}</span>:<span>{{sBind}}</span>
      </div>
    </div>
