<div class="list-container">
  
  <div class="que-list uk-flex" [hidden]="hidden">
    <input type="text" class="uk-input" (keyup.enter)="waitListSubmit(awaiter)" [ngClass]="{'error':border===true}" style="padding-left: 0.5em; width:50%;" [(ngModel)]="awaiter" maxlength="10" placeholder="Insert guest name">
    <button class="uk-button" (click)="waitListSubmit(awaiter)">Submit</button>
  </div>
  <div class="que-table" >
    <div class="uk-card uk-flex que-block" *ngFor="let wait of result.awaiterLists; let i = index">
      <div class="que-num">{{i+1}}</div><div class="que-name">{{wait}}</div>
      <button class="uk-button close-button" (click)="delist(i)" [hidden]="hidden">X</button>
    </div>
  </div>
</div>


