
      <div class="result-box">

        <div class="play-box" [hidden]=!hidden [@hideShowAnimation]=!hidden>
           
          <div class="play-table"><span>TABLE</span><span>{{uId}}</span></div>
          <div class="play-detail">
            <span>{{result.guestName}}</span>
            <span>PLAYING FOR</span> 
            <span> {{hrDiff}}H {{minDiff}}M</span>

          </div>
        </div>
        <div class="ready uk-flex" [hidden]=hidden [@hideShowAnimation]=hidden>
         <div class="ready-table"><span>TABLE</span><span>{{uId}}</span></div>  
         <div class="ready-detail">AVAILABLE</div>
        </div>
      </div>

      

 
