  
      <div class="result-box">
          <div class="start{{uId}} uk-flex-column play-box" [hidden]=true>

          <div>No.{{uId}} Playing!</div>
          <div>Started at <span style="font-size:1.4em; font-weight:bold;">{{result.day}} {{result.hour}} : {{result.minute}}</span></div>
          <div>Player is <span style="font-size:1.4em; font-weight:bold;">{{result.guestName}}</span></div>
        </div>
        <div class="ready{{uId}}" style="font-size: 2.6em; font-weight: bold;">
         No.{{uId}}  READY
        </div>
      </div>

 
