/* You can add global styles to this file, and also import other style files */


@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

*{
   font-family: 'Patua One', cursive;

}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fafbfb;

}

.uk-container{
    padding-left: 15px !important;
    padding-right: 15px !important;
}



.footer-left .a, .footer-left .b .b-2 span{    
    font-family: 'Hanna', sans-serif;
    font-weight: 900;
    }